@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  height: 100vh;
  max-height: -webkit-fill-available;
  font-family: Nothing You Could Do, sanf-serif;
  background-color: #faf9f8;
}
